<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src='{{ url_for('static', filename='js/WebAudioFontPlayer.js') }}'></script>
	<script src='{{ url_for('static', filename='js/MIDIFile.js') }}'></script>
	<script src='https://surikov.github.io/webaudiofontdata/sound/0090_JCLive_sf2_file.js'></script>	
</head>

<body>
	<div class="wrapper">
		<div class="container" id="main-container">
			<h2>MIDI Player <i>(Web Audio Font)</i></h2>
			<canvas id="visualization" width="800" height="400"></canvas>
			<div class="container">
				<div id="modal">
					<div class="modal-content">
						<span class="close">&times;</span><h2>Modify Key Pitch Mapping</h2>
						<div class="modal-content"></div>
					</div>
				</div>
				<div id="instrument"></div>
				<div id="instrument-selector"></div>
				<button id="modifyMapping">Modify Mapping</button>
				<br/>
			</div>
			<div class="piano">
				<!-- Octave 3 -->
				<div class="key white" id="C3" data-key="A" data-note="48" data-combined="C3-A"></div> 
				<div class="key black" id="C#3" data-key="Z" data-note="49" data-combined="C#3-Z"></div> 
				<div class="key white" id="D3" data-key="E" data-note="50" data-combined="D3-E"></div> 
				<div class="key black" id="D#3" data-key="R" data-note="51" data-combined="D#3-R"></div> 
				<div class="key white" id="E3" data-key="T" data-note="52" data-combined="E3-T"></div> 
				<div class="key white" id="F3" data-key="Y" data-note="53" data-combined="F3-Y"></div> 
				<div class="key black" id="F#3" data-key="U" data-note="54" data-combined="F#3-U"></div> 
				<div class="key white" id="G3" data-key="I" data-note="55" data-combined="G3-I"></div> 
				<div class="key black" id="G#3" data-key="O" data-note="56" data-combined="G#3-O"></div> 
				<div class="key white" id="A3" data-key="P" data-note="57" data-combined="A3-P"></div> 
				<div class="key black" id="A#3" data-key="Q" data-note="58" data-combined="A#3-Q"></div> 
				<div class="key white" id="B3" data-key="S" data-note="59" data-combined="B3-S"></div> 

				<!-- Octave 4 -->
				<div class="key white" id="C4" data-key="D" data-note="60" data-combined="C4-D"></div> 
				<div class="key black" id="C#4" data-key="F" data-note="61" data-combined="C#4-F"></div>
				<div class="key white" id="D4" data-key="G" data-note="62" data-combined="D4-G"></div> 
				<div class="key black" id="D#4" data-key="H" data-note="63" data-combined="D#4-H"></div> 
				<div class="key white" id="E4" data-key="J" data-note="64" data-combined="E4-J"></div> 
				<div class="key white" id="F4" data-key="K" data-note="65" data-combined="F4-K"></div> 
				<div class="key black" id="F#4" data-key="L" data-note="66" data-combined="F#4-L"></div> 
				<div class="key white" id="G4" data-key="M" data-note="67" data-combined="G4-M"></div> 
				<div class="key black" id="G#4" data-key="ù" data-note="68" data-combined="G#4-ù"></div> 
				<div class="key white" id="A4" data-key="*" data-note="69" data-combined="A4-*"></div> 
				<div class="key black" id="A#4" data-key="W" data-note="70" data-combined="A#4-W"></div> 
				<div class="key white" id="B4" data-key="X" data-note="71" data-combined="B4-X"></div> 

				<!-- Octave 5 -->
				<div class="key white" id="C5" data-key="C" data-note="72" data-combined="C5-C"></div> 
				<div class="key black" id="C#5" data-key="V" data-note="73" data-combined="C#5-V"></div> 
				<div class="key white" id="D5" data-key="B" data-note="74" data-combined="D5-B"></div> 
				<div class="key black" id="D#5" data-key="N" data-note="75" data-combined="D#5-N"></div> 
				<div class="key white" id="E5" data-key="?" data-note="76" data-combined="E5-?"></div> 
				<div class="key white" id="F5" data-key="." data-note="77" data-combined="F5-."></div> 
				<div class="key black" id="F#5" data-key="/" data-note="78" data-combined="F#5-/"></div> 
				<div class="key white" id="G5" data-key="§" data-note="79" data-combined="G5-§"></div> 
				<div class="key black" id="G#5" data-key="1" data-note="80" data-combined="G#5-1"></div> 
				<div class="key white" id="A5" data-key="2" data-note="81" data-combined="A5-2"></div> 
				<div class="key black" id="A#5" data-key="3" data-note="82" data-combined="A#5-3"></div> 
				<div class="key white" id="B5" data-key="4" data-note="83" data-combined="B5-4"></div> 
			</div>
		</div>
		<div id='cntls'>
			<h2 id="main-header" style="align-items: center; text-align: center;" >Load a MIDI file to start</h2>
			<p><input type="file" id="filesinput" name="filesarr[]" /></p>
		</div>
		<hr />
	</div>
	<script>
		function modifyKeyPitchMapping(){
			// get all note mapping from piano
			var notes = document.querySelectorAll('.key[data-note]');
			// get all key mapping from piano
			var keys = document.querySelectorAll('.key[data-key]');

			var html = '<select id="keyboardkey">';
			for (var i = 0; i < keys.length; i++) {
				html = html + '<option value="' + keys[i].getAttribute('data-key') + '">' + keys[i].getAttribute('data-key') + '</option>';
			}
			html = html + '</select>';

			html = html + '<select id="keyboardkeynote">';
			for (var i = 21; i < Object.keys(midiNotesToPitchMapping).length ; i++) {
				html = html + '<option value="' + i + '">' + midiNotesToPitchMapping[i] + '</option>';
			}
			html = html + '</select>';

			html = html + '<button id="addMapping">Change Mapping</button>';
			html = html + '<button id="cancelMapping">Cancel</button>';

			var modalContent = document.querySelector('.modal-content');
			modalContent.innerHTML = html;

			// add event listener to add mapping button
			var addMapping = document.getElementById('addMapping');
			addMapping.addEventListener('click', function(){
				var keyboardkey = document.getElementById('keyboardkey');
				var keyboardkeynote = document.getElementById('keyboardkeynote');
				var key = keyboardkey.value;
				var note = keyboardkeynote.value;
				var pianoKey = document.querySelector(`.key[data-key="${key}"]`);
				pianoKey.setAttribute('data-note', note);
				pianoKey.setAttribute('data-combined', midiNotesToPitchMapping[note] + '-' + key);

				var modal = document.getElementById('modal');
				modal.style.display = 'none';
			});

			// add event listener to cancel button
			var cancelMapping = document.getElementById('cancelMapping');
			cancelMapping.addEventListener('click', function(){
				var modal = document.getElementById('modal');
				modal.style.display = 'none';
			});
			

			
			// create and open a modal to modify the mapping
			var modal = document.getElementById('modal');
			modal.style.display = 'block';
			var modalContent = document.querySelector('.modal-content');
			var modalClose = document.querySelector('.close');
			modalClose.addEventListener('click', function(){
				modal.style.display = 'none';
			});
		}
		
		// add event listener to modify mapping button
		var modifyMapping = document.getElementById('modifyMapping');
		modifyMapping.addEventListener('click', modifyKeyPitchMapping);

		var AudioContextFunc = window.AudioContext || window.webkitAudioContext;
		var audioContext = new AudioContextFunc();
		var player = new WebAudioFontPlayer();
		
		var instrumentSelector = document.getElementById('instrument-selector');
		var html = '<select id="selinsC">';
			// select an instrument
		html = html + '<option selected > Select an instrument </option>';
		for (var i = 0; i < player.loader.instrumentKeys().length; i++) {
				var sel = '';
				// if (i == 8) {
				// 	sel = ' selected';
				// }
				html = html + '<option value="' + i + '"' + sel + '>' + i + ': ' + player.loader.instrumentInfo(i).title + '</option>';
		}
		html = html + '</select>';
		instrumentSelector.innerHTML = html;

		var firstload = true;
		// var sl = document.getElementById('selins' + 'C');
		// 		sl.onchange = function (e) {
		// 			var nn = sl.value;
		// 			var info = player.loader.instrumentInfo(nn);
		// 			player.loader.startLoad(audioContext, info.url, info.variable);
		// 			player.loader.waitLoad(function () {
		// 				console.log('loaded');
		// 				var length = song.tracks.length;
		// 				song.tracks[99].info = info;
		// 				song.tracks[99].id = nn;
		// 			});
		// 		};

		function playKey(pitch){
				let numberoftracks = song.tracks.length - 1;
				if (firstload){
					var sl = document.getElementById('selinsC');
					var nn = sl.value;
					var info = player.loader.instrumentInfo(nn);
					player.loader.startLoad(audioContext, info.url, info.variable);
					player.loader.waitLoad(function () {
						console.log('loaded');
						song.tracks[numberoftracks].info = info;
						song.tracks[numberoftracks].id = nn;
					});
					firstload = false;
				}
				console.log("numberoftracks",numberoftracks)
				var instrument = song.tracks[numberoftracks].info.variable;
				player.queueWaveTable(audioContext, audioContext.destination, window[instrument], 0, pitch, 0.75);
				var currentTime = audioContext.currentTime - songStart;
				var duration = 0.75;
				var track = song.tracks[numberoftracks]; 
				track.notes.push({
					when: currentTime,
					duration: duration,
					pitch: pitch,
					slides: []
				});
				drawNoteLine(pitch, currentTime)
			}
			console.log('onload');
			document.addEventListener('keydown', function(event) {
				const key = event.key;

				const pianoKey = document.querySelector(`.key[data-key="${key}"]`);
				if (pianoKey) {
					const pitch = pianoKey.getAttribute('data-note');
					playKey(parseInt(pitch));
					pianoKey.classList.add('playing');
				}
		});

		document.addEventListener('keyup', function(event) {
				const keys = document.querySelectorAll('.key');
				keys.forEach(key => {
					key.classList.remove('playing');
				});
			});

			var canvas = document.getElementById('visualization');
			var ctx = canvas.getContext('2d');
			// Configuration variables
			var noteWidth = 15; // Width of the note representation
			var noteSpacing = 30; // Space between two consecutive notes
			var offset = 0; // Offset to loop the notes
			var maxNotes = Math.floor(canvas.width / noteSpacing);
			var limit = maxNotes;
			var offset = 0;

			var firstNote = true;
			// Function to draw a line for a note
			// Function to draw a line for a note
			function drawNoteLine(pitch, currentTime) {
				if (currentTime  > limit ) {
					console.log("LIMIT",limit)
					// Clear the canvas when starting from the beginning
					ctx.clearRect(0, 0, canvas.width, canvas.height);
					offset = 0
					limit += maxNotes;
				}

				var y = canvas.height - (pitch / 127 * canvas.height); // Y position based on pitch

				if (firstNote){
					offset = currentTime;
					firstNote = false;
				}

				var x = ((currentTime - offset) % maxNotes ) * noteSpacing; // X position based on time

				console.log("x",x)
				console.log(" (currentTime - offset) % maxNotes", (currentTime - offset) % maxNotes)

				ctx.beginPath();
				ctx.moveTo(x, y);
				ctx.lineTo(x + noteWidth, y); // Length of the line based on noteWidth
				ctx.strokeStyle = 'black';
    			ctx.lineWidth = 5;
				ctx.stroke();

				ctx.beginPath();
				ctx.moveTo(x, y);
				ctx.lineTo(x + noteWidth, y);
				ctx.strokeStyle = getOctaveColor(Math.floor(pitch / 12));
				ctx.lineWidth = 3.5; // Line width
				ctx.stroke();
			}

			// Function to get color based on octave
			function getOctaveColor(octave) {
				var colors = ['#FF0000', '#FF7F00', '#FFFF00', '#00FF00', '#0000FF', '#4B0082', '#9400D3']; // Example colors
				var index = octave % colors.length; // Cycle through colors if octave is out of range
				return colors[index];
			}
		

		console.log('start');
		var audioContext = null;
		var player = null;
		var reverberator = null;
		var equalizer = null;
		var songStart = 0;
		var input = null;
		var currentSongTime = 0;
		var nextStepTime = 0;
		var nextPositionTime = 0;
		var loadedsong = null;
		var song = null;
		function go() {
			document.getElementById('tmr').innerHTML = 'starting...';
			try {
				startPlay(loadedsong);
				document.getElementById('tmr').innerHTML = 'playing...';
				var sl = document.getElementById('selinsC');
				var numberoftracks = song.tracks.length;

				console.log("==numberoftracks",numberoftracks)
				if(!song.tracks[numberoftracks]){
							song.tracks[numberoftracks] = {};
							song.tracks[numberoftracks].notes = [];
							song.tracks[numberoftracks].volume = 0.05;
							song.tracks[numberoftracks].program = 8;

						}
				sl.onchange = function (e) {
					var nn = sl.value;
					var info = player.loader.instrumentInfo(nn);
					player.loader.startLoad(audioContext, info.url, info.variable);
					player.loader.waitLoad(function () {
						console.log('loaded');
						song.tracks[numberoftracks].info = info;
						song.tracks[numberoftracks].id = nn;
					});
				};
			} catch (expt) {
				document.getElementById('tmr').innerHTML = 'error ' + expt;
			}
		}
		function startPlay(song) {
			currentSongTime = 0;
			songStart = audioContext.currentTime;
			nextStepTime = audioContext.currentTime;
			var stepDuration = 44 / 1000;
			tick(song, stepDuration);
		}
		function tick(song, stepDuration) {
			if (audioContext.currentTime > nextStepTime - stepDuration) {
				sendNotes(song, songStart, currentSongTime, currentSongTime + stepDuration, audioContext, input, player);
				currentSongTime = currentSongTime + stepDuration;
				nextStepTime = nextStepTime + stepDuration;
				if (currentSongTime > song.duration) {
					currentSongTime = currentSongTime - song.duration;
					sendNotes(song, songStart, 0, currentSongTime, audioContext, input, player);
					songStart = songStart + song.duration;
				}
			}
			if (nextPositionTime < audioContext.currentTime) {
				var o = document.getElementById('position');
				o.value = 100 * currentSongTime / song.duration;
				document.getElementById('tmr').innerHTML = '' + Math.round(100 * currentSongTime / song.duration) + '%';
				nextPositionTime = audioContext.currentTime + 3;
			}
			window.requestAnimationFrame(function (t) {
				tick(song, stepDuration);
			});
		}
		function sendNotes(song, songStart, start, end, audioContext, input, player) {
			for (var t = 0; t < song.tracks.length; t++) {
				var track = song.tracks[t];
				for (var i = 0; i < track.notes.length; i++) {
					if (track.notes[i].when >= start && track.notes[i].when < end) {
						var when = songStart + track.notes[i].when;
						var duration = track.notes[i].duration;
						if (duration > 3) {
							duration = 3;
						}
						var instr = track.info.variable;
						var v = track.volume / 7;
						player.queueWaveTable(audioContext, input, window[instr], when, track.notes[i].pitch, duration, v, track.notes[i].slides);
						drawNoteLine(track.notes[i].pitch, when);
					}
				}
			}
			for (var b = 0; b < song.beats.length; b++) {
				var beat = song.beats[b];
				for (var i = 0; i < beat.notes.length; i++) {
					if (beat.notes[i].when >= start && beat.notes[i].when < end) {
						var when = songStart + beat.notes[i].when;
						var duration = 1.5;
						var instr = beat.info.variable;
						var v = beat.volume / 2;
						player.queueWaveTable(audioContext, input, window[instr], when, beat.n, duration, v);
						drawNoteLine(beat.n, when);
					}
				}
			}
		}
		function startLoad(song) {
			console.log(song);
			var AudioContextFunc = window.AudioContext || window.webkitAudioContext;
			audioContext = new AudioContextFunc();
			player = new WebAudioFontPlayer();

			equalizer = player.createChannel(audioContext);
			reverberator = player.createReverberator(audioContext);
			//input = reverberator.input;
			input = equalizer.input;
			equalizer.output.connect(reverberator.input);
			reverberator.output.connect(audioContext.destination);

			for (var i = 0; i < song.tracks.length; i++) {
				var nn = player.loader.findInstrument(song.tracks[i].program);
				var info = player.loader.instrumentInfo(nn);
				song.tracks[i].info = info;
				song.tracks[i].id = nn;
				player.loader.startLoad(audioContext, info.url, info.variable);
			}
			for (var i = 0; i < song.beats.length; i++) {
				var nn = player.loader.findDrum(song.beats[i].n);
				var info = player.loader.drumInfo(nn);
				song.beats[i].info = info;
				song.beats[i].id = nn;
				player.loader.startLoad(audioContext, info.url, info.variable);
			}
			player.loader.waitLoad(function () {
				console.log('buildControls');
				buildControls(song);
				resetEqlualizer();
			});
		}
		function resetEqlualizer(){
			equalizer.band32.gain.setTargetAtTime(2,0,0.0001);
			equalizer.band64.gain.setTargetAtTime(2,0,0.0001);
			equalizer.band128.gain.setTargetAtTime(1,0,0.0001);
			equalizer.band256.gain.setTargetAtTime(0,0,0.0001);
			equalizer.band512.gain.setTargetAtTime(-1,0,0.0001);
			equalizer.band1k.gain.setTargetAtTime(5,0,0.0001);
			equalizer.band2k.gain.setTargetAtTime(4,0,0.0001);
			equalizer.band4k.gain.setTargetAtTime(3,0,0.0001);
			equalizer.band8k.gain.setTargetAtTime(-2,0,0.0001);
			equalizer.band16k.gain.setTargetAtTime(2,0,0.0001);
		}
		function buildControls(song) {
			audioContext.resume();
			var visualizer = document.getElementById('main-container');
			visualizer.style.display = 'block';
			var main_header = document.getElementById('main-header');
			main_header.style.display = 'none';
			var o = document.getElementById('cntls');
			var html = '<h2 id="wrng">Refresh browser page to load another song</h2>';
			html = html + '<p id="tmr"><button onclick="go();">Play</button></p>';
			html = html + '<p><input id="position" type="range" min="0" max="100" value="0" step="1" /></p>';
			html = html + '<h3>Channels</h3>';
			for (var i = 0; i < song.tracks.length; i++) {
				var v = 100 * song.tracks[i].volume;
				html = html + '<p>' + chooserIns(song.tracks[i].id, i) + '<input id="channel' + i + '" type="range" min="0" max="100" value="' + v + '" step="1" /></p>';
			}
			html = html + '<h3>Drums</h3>';
			for (var i = 0; i < song.beats.length; i++) {
				var v = 100 * song.beats[i].volume;
				html = html + '<p>' + chooserDrum(song.beats[i].id, i) + '<input id="drum' + i + '" type="range" min="0" max="100" value="' + v + '" step="1" /></p>';
			}
			o.innerHTML = html;
			console.log('Loaded');
			var pos = document.getElementById('position');
			pos.oninput = function (e) {
				if (loadedsong) {
					player.cancelQueue(audioContext);
					var next = song.duration * pos.value / 100;
					songStart = songStart - (next - currentSongTime);
					currentSongTime = next;
				}
			};
			console.log('Tracks');
			for (var i = 0; i < song.tracks.length; i++) {
				setVolumeAction(i, song);
			}
			console.log('Drums');
			for (var i = 0; i < song.beats.length; i++) {
				setDrVolAction(i, song);
			}
			loadedsong = song;
		}
		function setVolumeAction(i, song) {
			var vlm = document.getElementById('channel' + i);
			vlm.oninput = function (e) {
				player.cancelQueue(audioContext);
				var v = vlm.value / 100;
				if (v < 0.000001) {
					v = 0.000001;
				}
				song.tracks[i].volume = v;
			};
			var sl = document.getElementById('selins' + i);
			sl.onchange = function (e) {
				var nn = sl.value;
				var info = player.loader.instrumentInfo(nn);
				player.loader.startLoad(audioContext, info.url, info.variable);
				player.loader.waitLoad(function () {
					console.log('loaded');
					song.tracks[i].info = info;
					song.tracks[i].id = nn;
				});
			};
		}
		function setDrVolAction(i, song) {
			var vlm = document.getElementById('drum' + i);
			vlm.oninput = function (e) {
				player.cancelQueue(audioContext);
				var v = vlm.value / 100;
				if (v < 0.000001) {
					v = 0.000001;
				}
				song.beats[i].volume = v;
			};
			var sl = document.getElementById('seldrm' + i);
			sl.onchange = function (e) {
				var nn = sl.value;
				var info = player.loader.drumInfo(nn);
				player.loader.startLoad(audioContext, info.url, info.variable);
				player.loader.waitLoad(function () {
					console.log('loaded');
					song.beats[i].info = info;
					song.beats[i].id = nn;
				});
			};
		}
		function chooserIns(n, track) {
			var html = '<select id="selins' + track + '">';
			for (var i = 0; i < player.loader.instrumentKeys().length; i++) {
				var sel = '';
				if (i == n) {
					sel = ' selected';
				}
				html = html + '<option value="' + i + '"' + sel + '>' + i + ': ' + player.loader.instrumentInfo(i).title + '</option>';
			}
			html = html + '</select>';
			return html;
		}
		function chooserDrum(n, beat) {
			var html = '<select id="seldrm' + beat + '">';
			for (var i = 0; i < player.loader.drumKeys().length; i++) {
				var sel = '';
				if (i == n) {
					sel = ' selected';
				}
				html = html + '<option value="' + i + '"' + sel + '>' + i + ': ' + player.loader.drumInfo(i).title + '</option>';
			}
			html = html + '</select>';
			return html;
		}
		function handleFileSelect(event) {
			console.log(event);
			var file = event.target.files[0];
			console.log(file);
			var fileReader = new FileReader();
			fileReader.onload = function (progressEvent) {
				console.log(progressEvent);
				var arrayBuffer = progressEvent.target.result;
				console.log(arrayBuffer);
				var midiFile = new MIDIFile(arrayBuffer);
				song = midiFile.parseSong();
				startLoad(song);
				// add event listener to keyboard instrument
				var keyboard_instrument = document.getElementById('instrument');
				var html = '<h4>Currently selected instrument : '+ song.tracks[0].info.title +'</h4>'; 
				keyboard_instrument.innerHTML = html;
			};
			fileReader.readAsArrayBuffer(file);
		}
		function handleExample(path) {
			console.log(path);
			var xmlHttpRequest = new XMLHttpRequest();
			xmlHttpRequest.open("GET", path, true);
			xmlHttpRequest.responseType = "arraybuffer";
			xmlHttpRequest.onload = function (e) {
				var arrayBuffer = xmlHttpRequest.response;
				var midiFile = new MIDIFile(arrayBuffer);
				var song = midiFile.parseSong();
				startLoad(song);
			};
			xmlHttpRequest.send(null);
		}
		document.getElementById('filesinput').addEventListener('change', handleFileSelect, false);

		// enum of midi notes to pitch mapping
		var midiNotesToPitchMapping = {
			21: 'A0',
			22: 'A#0',
			23: 'B0',
			24: 'C1',
			25: 'C#1',
			26: 'D1',
			27: 'D#1',
			28: 'E1',
			29: 'F1',
			30: 'F#1',
			31: 'G1',
			32: 'G#1',
			33: 'A1',
			34: 'A#1',
			35: 'B1',
			36: 'C2',
			37: 'C#2',
			38: 'D2',
			39: 'D#2',
			40: 'E2',
			41: 'F2',
			42: 'F#2',
			43: 'G2',
			44: 'G#2',
			45: 'A2',
			46: 'A#2',
			47: 'B2',
			48: 'C3',
			49: 'C#3',
			50: 'D3',
			51: 'D#3',
			52: 'E3',
			53: 'F3',
			54: 'F#3',
			55: 'G3',
			56: 'G#3',
			57: 'A3',
			58: 'A#3',
			59: 'B3',
			60: 'C4',
			61: 'C#4',
			62: 'D4',
			63: 'D#4',
			64: 'E4',
			65: 'F4',
			66: 'F#4',
			67: 'G4',
			68: 'G#4',
			69: 'A4',
			70: 'A#4',
			71: 'B4',
			72: 'C5',
			73: 'C#5',
			74: 'D5',
			75: 'D#5',
			76: 'E5',
			77: 'F5',
			78: 'F#5',
			79: 'G5',
			80: 'G#5',
			81: 'A5',
			82: 'A#5',
			83: 'B5',
			84: 'C6',
			85: 'C#6',
			86: 'D6',
			87: 'D#6',
			88: 'E6',
			89: 'F6',
			90: 'F#6',
			91: 'G6',
			92: 'G#6',
			93: 'A6',
			94: 'A#6',
			95: 'B6',
			96: 'C7',
			97: 'C#7',
			98: 'D7',
			99: 'D#7',
			100: 'E7',
			101: 'F7',
			102: 'F#7',
			103: 'G7',
			104: 'G#7',
			105: 'A7',
			106: 'A#7',
			107: 'B7',
			108: 'C8',
			109: 'C#8',
			110: 'D8',
			111: 'D#8',
			112: 'E8',
			113: 'F8',
			114: 'F#8',
			115: 'G8',
			116: 'G#8',
			117: 'A8',
			118: 'A#8',
			119: 'B8',
			120: 'C9',
			121: 'C#9',
			122: 'D9',
			123: 'D#9',
			124: 'E9',
			125: 'F9',
			126: 'F#9',
			127: 'G9'
		};
	</script>
</body>

</html>
